<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <alert></alert>
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && getLoginForm.email.errors }" />
            <div *ngIf="submitted && getLoginForm.email.errors" class="invalid-feedback">
              <div *ngIf="getLoginForm.email.errors.required">Email is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && getLoginForm.password.errors }" />
            <div *ngIf="submitted && getLoginForm.password.errors" class="invalid-feedback">
              <div *ngIf="getLoginForm.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          Login
                      </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>