.form-cate {
  height: 265px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 15px;
}

.input-cate {
  border: none;
}

.table-body {
  max-height: 70vh;
  overflow: auto;
}

.btn {
  vertical-align: middle;
}

.detail-btn {
  text-decoration: none;
}
