<div class="breadcrumb">
  <div class="container">
    <a class="breadcrumb-item" href="/home">Trang chủ</a>
    <span class="breadcrumb-item active">Giỏ hàng</span>
  </div>
</div>
<section class="product-sec">
  <div class="container">
    <div class="row">
      <div class="cart-product col-md-8">
        <div class="cart-header">
          <label class="mb-0">GIỎ HÀNG CỦA TÔI ({{cartProducts?.length || 0}})</label>
        </div>
        <div class="cart-list">
          <div class="item" *ngFor="let item of cartProducts; let index=index;">
            <div class="cart-item">
              <div class="cart-item-left">
                <input class="mr-5" type="checkbox" value="on" [checked]="item.status" (change)="changeCart(index, item)">
                <img class="cart-product-img" src="{{item.productCover}}">
                <div class="content">
                  <a id="item-title" href="">
                    {{item.productName}}
                  </a>
                  <a id="item-short-descrip" href="">{{item.productDescription.substring(0, 30)}}...</a>
                </div>
              </div>
              <div class="cart-item-right">
                <div class="info-cart-right d-inline">
                  <label class="mb-0">Đơn giá:</label>
                  <p class="current-price mb-1">{{item.price}} vnđ</p>
                  <div class="quatity">
                    <button class="btn-minus" (click)="subQuantityItem(index, item)" [disabled]="item.quantity <= 1">-</button>
                    <input type="number" class="quantity-input text-center" [(ngModel)]="item.quantity">
                    <button class="btn-plus" (click)="addQuantityItem(index, item)">+</button>
                  </div>
                </div>
                <div class="delete-cart d-inline">
                  <button class="btn-delete-item" (click)="deleteItem(index, item)"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
            <hr width="100%" align="center" />
          </div>
        </div>
      </div>
      <div class="bill-product col-md-4">
        <div class="title-bill">
          <label class="mb-0">Thông Tin Đơn Hàng</label>
        </div>
        <div class="detail-bill">
          <div class="temp-charge">
            <p id="temp-charge-title">Tạm tính</p>
            <p id="temp-charge-price"><strong>{{provisionalPrice}} vnđ</strong></p>
          </div>
          <div class="promotion-form">
            <input id="promotion-input" type="text" placeholder="Mã giảm giá (chỉ áp dụng 1 mã)" />
            <button id="promotion-btn" type="button" class="">ÁP DỤNG</button>
          </div>
          <hr width="100%" align="center" />
          <div class="total-charge">
            <p id="charge-title">Tổng cộng</p>
            <p id="charge-price">{{totalPrice}} vnđ</p>
          </div>
          <div class="payment">
            <button class="pay-btn" (click)="goPayment()">THANH TOÁN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
